[diff "sopsdiffer"]
	textconv = sops -d
[pager]
	branch = false
[pull]
	rebase = false
[remote "origin"]
	prune = true
{{ with .values.git -}}
[commit]
	{{ if (index . "signingkey") }}gpgsign = true{{ end }}
[user]
	name = {{ .name }}
	email = {{ .email }}
	{{ if (index . "signingkey") }}signingkey = {{ .signingkey }}{{ end }}
{{ end -}}
