BREW_PREFIX=$(brew --prefix)

# Exports
export CLICOLOR=
export EDITOR="$BREW_PREFIX/bin/code --wait"
export KUBECONFIG=~/.kube/config
export PATH=$PATH:/usr/local/sbin
export PATH=$PATH:~/go/bin
export PATH=$PATH:~/Library/Python/3.7/bin
# export PS1="\h:\W \u\$ "
export PS1="\u@\h:\w\$([[ -n \$(git branch 2> /dev/null) ]] && echo \" \")\$(git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/(\1)/')\$ "

{{ if (index . "database") -}}
export DB_DEV="{{ .database.dev }}"
export DB_PRE="{{ .database.pre }}"
export DB_PRO="{{ .database.pro }}"
{{ end -}}

# Bash
[ -f $BREW_PREFIX/etc/bash_completion ] && . $BREW_PREFIX/etc/bash_completion
shopt -s histappend # On each save the history list is appended, rather than overwritten.
# shopt -s lithist # If cmdhist option is enabled, multi-line commands are saved to the history with embedded newlines rather than using semicolons.
HISTCONTROL=erasedups:ignoredups # Erase contiguous duplicates from session. : Don't save contiguous duplicates.
HISTFILESIZE=100000 # Maximum number of lines in history file before truncation. No value for unlimited. Enforced at shell start AND exit.
# HISTIGNORE= #
HISTSIZE= # Maximum number of lines in current session to save. No value for unlimited.
HISTTIMEFORMAT='%F %T ' # Add timestamps
PROMPT_COMMAND="history -a; history -c; history -r" # After every command: Append new lines to file; clear session; read file

# Powerline
# powerline-daemon -q
# POWERLINE_BASH_CONTINUATION=1
# POWERLINE_BASH_SELECT=1
# . /Users/cameronboulton/Library/Python/2.7/lib/python/site-packages/powerline/bindings/bash/powerline.sh

[ $(command -v tac) ] && tac $HISTFILE | awk '!x[$0]++' | tac > $HISTFILE.awk && mv $HISTFILE.awk $HISTFILE
