[pager]
	branch = false
[remote "origin"]
	prune = true
{{ if (index . "git") -}}
[commit]
	{{ if (index .git "signingkey") }}gpgsign = true{{ end }}
[user]
	name = {{ .git.name }}
	email = {{ .git.email }}
	{{ if (index .git "signingkey") }}signingkey = {{ .git.signingkey }}{{ end }}
{{ end -}}
