{
    "[jinja yaml]": {},
    "breadcrumbs.enabled": true,
    "editor.minimap.enabled": false,
    "editor.renderWhitespace": "all",
    "editor.rulers": [80,120],
    "editor.tabSize": 2,
    "files.associations": {
        "*.yaml": "yaml"
    },
    "files.insertFinalNewline": true,
    "files.trimFinalNewlines": true,
    "files.trimTrailingWhitespace": true,
    "git.autofetch": true,
    "git.confirmSync": false,
    "linkerd-path": "/usr/local/bin/linkerd",
    "terminal.integrated.shell.linux": "/bin/zsh",
    "terminal.integrated.shell.osx": "/bin/zsh",
    "window.zoomLevel": 1
}
