{
    "editor.minimap.enabled": false,
    "editor.renderWhitespace": "all",
    "editor.tabSize": 2,
    "files.trimTrailingWhitespace": true,
    "files.trimFinalNewlines": true,
    "files.insertFinalNewline": true,
    "window.zoomLevel": 1,
    "[jinja-yaml]": {}
}
